body{
    font-family: 'Mukta', sans-serif;
	height:100vh;
	min-height:550px;
    background-repeat: no-repeat;
	background-size:cover;
	background-position:center;
	position:relative;
    overflow-y: hidden;
}

h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
.stu {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 70%;
    right: 0;
    left: 0;
    margin: auto;
    height: 400px;
    background-color: rgba(236, 48, 20, 0.9);
}
#log {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;
}
