{% extends 'base.html' %}
{% include 'index.html' %}
{% block content %}


    <div>
        <div class="container pt-4">
            <div class="row  p-0 mt-4">
                <div class="col-lg-4 mx-auto shadow p-0">
                    <div class="alert alert-info">
                        <h2>Add New Student</h2>
                    </div>
                    <div class="p-4">
                        <form action="{% url 'addstud' %}" method="POST">
                            {% csrf_token %}


                            {#            {{ form.user }}#}
{#                                            {{ form }}#}


                            <table>
                                <tr>
                                    <th>User:<input type="text" id="student_list" name="student" required><br>
                                    </th>
                                </tr>
                                <tr>

                                    <th>College:{{ form.clg_name }}</th>
                                </tr>

                                <tr>

                                    <th>Department:{{ form.dep_name }}</th>
                                </tr>
                                <tr>

                                    <th>Branch:{{ form.bran_name }}</th>
                                </tr>
                                <tr>

                                    <th>Student Name:{{ form.stu_name }}</th>
                                </tr>

                                <tr>

                                    <th>Subject:{{ form.subject }}</th>
                                </tr>
                                <tr>

                                    <th>Time Table:{{ form.time_table }}</th>

                                </tr>

                                <tr>

                                    <th>College Fee:{{ form.coll_fee }}</th>


                                </tr>
                                <tr>
                                    <th>Exam Fee:{{ form.exam_fee }}</th>


                                </tr>

                                <tr>

                                    <th>Result:{{ form.result }}</th>
                                </tr>

                            </table>
                            <hr>
                            <input type="submit" value="ADD" class="btn btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 style="text-align: center; color: whitesmoke;background-color: red">
        <a href="{% url 'student' %}"> Show Student Table</a>
    </h3>

    <script>
        $(function () {
            var studentTags = [
                {% for student in students %}
                    "{{student.username}}",
                {% endfor %}
            ];
            $("#student_list").autocomplete({
                source: studentTags
            });
        });
    </script>
{% endblock %}

