{% extends 'base.html' %}
{% include 'index.html' %}
{% block content %}
<html>
<body>

<br>
<br>
<h3 style="text-align: center;background-color: greenyellow;color: white;padding: auto;
box-sizing: border-box;border: lightslategray">Student  Information</h3>


<table class="table">
  <thead>
    <tr>
      <th scope="col">College Name</th>
      <th scope="col">DepartMent Name</th>
      <th scope="col">Branch Name</th>
      <th scope="col">student Name</th>
      <th scope="col">Subject</th>
      <th scope="col">Time Table</th>
      <th scope="col"> coll Fee</th>
      <th scope="col"> Exam Fee</th>
      <th scope="col">Result</th>

    </tr>
  </thead>

  <tbody>
    <tr>
      <td>{{ stu.clg_name }}</td>
      <td>{{ stu.dep_name }}</td>
      <td>{{ stu.bran_name }}</td>
      <td>{{ stu.stu_name }}</td>
      <td>{{ stu.subject }}</td>
      <td>{{ stu.time_table.time_start }}-{{ stu.time_table.time_end }}</td>
        <td>{{ stu.coll_fee }}</td>
        <td>{{ stu.exam_fee }}</td>
        <td>{{ stu.result }}</td>
    </tr>
  </tbody>
</table>
{#    </form>#}
</body>
</html>
{% endblock %}